# Note that this was originally created in early 2021.
# The Ruby orb has been updated since then...
# I'm currently working on the heroku orb - so it might be working...

version: 2.1
orbs:
  ruby: circleci/ruby@1.4.0
  heroku: circleci/heroku@1.2.6

jobs:
  build_and_test:
    docker:
      - image: cimg/ruby:2.7-node
    steps:
      - checkout
      - ruby/install-deps
      - ruby/rspec-test

workflows:
  build_and_test_deploy:
    jobs:
      - build_and_test
      - heroku/deploy-via-git:
          requires:
            - build_and_test
          filters:
            branches:
              only: main

