<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 d-none d-lg-block">
        © <span itemprop="copyrightYear">2023</span>
        <span itemprop="copyrightHolder" itemscope="" itemtype="http://schema.org/Organization">
          <span itemprop="name">Made Tech Limited.</span>
        </span>
      </div>
      <div class="col-7 col-lg-4 text-left text-lg-center">
        <a class="footer__logo" href="https://www.madetech.com" rel="home">
          <img src="{{ "/assets/images/made-tech-logo-wht.png" | relative_url }}" height="25" alt="Made Tech">
        </a>
      </div>
      <nav class="col-5 col-lg-4 text-right">
        <a class="footer__social_link" href="https://www.linkedin.com/company/madetech">
          <img src="{{ "/assets/images/icons/linkedin.svg" | relative_url }}" alt="LinkedIn" height="25" />
        </a>

        <a class="footer__social_link" href="https://twitter.com/madetech">
          <img src="{{ "/assets/images/icons/twitter.svg" | relative_url }}" alt="Twitter" height="25" />
        </a>

        <a class="footer__social_link" href="https://github.com/madetech">
          <img src="{{ "/assets/images/icons/github.svg" | relative_url }}" alt="GitHub" height="25" />
        </a>
      </nav>
    </div>
  </div>
</footer>
