---
---
@charset "UTF-8";

.DeliveryImage, .ProductImage, .DesignImage {
  width: 500px;
  max-width: 100%;
}

.TechnologyImage {
  width: 500px;
  max-width: 100%;
  height: 325px;
  max-height: 100%;
}

.container img {
  max-width: 100%;
}

.BadgeImg {
  max-width: 50%;
  float: left;
  padding: 1em;
  width: 200px;
}

/* Hides default decoration for summaries */
details > summary::-webkit-details-marker {
  display: none;
}
details > summary {
  list-style-type: none;
}

.ven-diagram{
  height: 350px;
  margin-top: 1%;
}

.card-border {
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.padding-left {
  margin-left: 50px;
}

.ven-diagram-section {
  background-color: #fcfcfc;
  border: 1px solid #e0e0e0;
  margin-bottom: 0;
  height: 400px;
}

@media only screen and (min-width: 1080px) {
  aside {
    margin-left: -35%;
    top: 3em;
    float: left;
    position: absolute;
    max-width: 30%;
  }

  .container {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.container-fullHeight {
  min-height: calc(100vh - 205px); // 205px -> Height of the header-nav, Header, and Footer
}
