---
layout: main
title: Product
---

{% capture title %}
Learn product best practices
{% endcapture %}

{% capture text %}
Use these resources to understand what you are delivering to make sure user needs are met.
{% endcapture %}

{% include digital_element_header.html title=title text=text %}

{% capture content %}

<div class="container col-md-10 text-center">
  <h2>Maximise your outcomes</h2>
  <p class="lead">
    Resources for improving proficiency in delivering made by the team at Made Tech.
  </p>
</div>

<div class="row">
  <div class="col-sm">
    <div class="card-body card-border">
      <h3 class="card-title mt-0">Planning</h3>
      <p class="card-text">
        Learn how to make strategic decisions and deliver better using roadmaps.
      </p>
    </div>
  </div>
  <div class="col-sm">
    <div class="card-body card-border">
      <h3 class="card-title mt-0">Product management/ownership</h3>
      <p class="card-text">
        Understand how and why product management is important to meeting user needs.
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="card-body card-border">
      <h3 class="card-title mt-0">Collaboration</h3>
      <p class="card-text">
        Techniques on how to work effectively with your teams ensuring their wellbeing.
      </p>
    </div>
  </div>
  <div class="col-sm">
    <div class="card-body card-border">
      <h3 class="card-title mt-0">Lean product development</h3>
      <p class="card-text">
        Learn how decisions based on an iterative approach, prototyping and user feedback affect delivery.
      </p>
    </div>
  </div>
</div>

<div class="container col-md-10 text-center">
  <h2>Fundamental product skills</h2>
  <p class="lead">
    Coming soon!
  </p>
</div>

<div class="row">
  <div class="col-sm">
    <div class="card-body card-border">
      <h3 class="card-title mt-0">Skill 1</h3>
      <p class="card-text">
        <em>Coming soon!</em>
      </p>
      <a href="#" class="btn btn-success btn-sm disabled">Learn more</a>
    </div>
  </div>

  <div class="col-sm">
    <div class="card-body card-border">
      <h3 class="card-title mt-0">Skill 2</h3>
      <p class="card-text">
        <em>Coming soon!</em>
      </p>
      <a href="#" class="btn btn-success btn-sm disabled">Learn more</a>
    </div>
  </div>

  <div class="col-sm">
    <div class="card-body card-border">
      <h3 class="card-title mt-0">Skill 3</h3>
      <p class="card-text">
        <em>Coming soon!</em>
      </p>
      <a href="#" class="btn btn-success btn-sm disabled">Learn more</a>
    </div>
  </div>
</div>

<h2>Further reading</h2>
<ul>
  <li><a href="https://gds.blog.gov.uk/category/product-management/">GDS Product management</a></li>
  <li><a href="https://www.wrike.com/blog/7-product-management-best-practices-beginner-pms/">Product management best practices</a></li>
</ul>

{% endcapture %}

{% include digital_element_container.html content=content %}
