---
layout: main
title: Training Calendar
---

{% capture title %}
Training Opportunities
{% endcapture %}

{% capture text %}
A list of upcoming training sessions and courses being run for Made Tech employees.
{% endcapture %}

{% include digital_element_header.html title=title text=text %}
{% capture content %}

<div class="row">
  <div class="container col-md-10 text-center">
    <h2>Clean Code</h2>
    <p class="lead">
      This workshop is a chance to learn and discuss what we consider to be "Clean Code" at Made Tech, learn some coding principles, as well as practice some TDD & Pairing.
    </p>
    <p>
      This is suitable for <em>any</em> level of Engineer at Made Tech, and will involve lots of discussion, pairing and coding.
    </p>
    <p>
      Please bear in mind that the workshop has been designed to be an <em>in-person</em> experience, although we will try out best to run a remote workshop if there is enough interest.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="card-body card-border">
      <h3 class="card-title mt-0">London</h3>
      <h4 class="card-title mt-0">Monday 18th - Wedndesday 20th March</h4>
      <p class="card-text">
        Covers programming concepts, pairing and TDD. Suitable for all Engineering levels. This course is <em>in-person</em> only.
      </p>
      <a href="https://forms.gle/3QtQR7p8ugnUFowv6" class="btn btn-success">Register</a>
      <p class="card-text" style="display: none;"><em>Unfortunately this event is now full. Please register interest in a future session.</em></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="card-body card-border">
      <h3 class="card-title mt-0">Manchester</h3>
      <h4 class="card-title mt-0">Tuesday 16th - Thursday 18th April</h4>
      <p class="card-text">
        Covers programming concepts, pairing and TDD. Suitable for all Engineering levels. This course is <em>in-person</em> only.
      </p>
      <a style="display: none;" href="https://forms.gle/" class="btn btn-success">Register</a>
      <p class="card-text"><em>Registration opens soon</em></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="card-body card-border">
      <h3 class="card-title mt-0">Bristol</h3>
      <h4 class="card-title mt-0">Tuesday 30th April - Thursday 2nd May</h4>
      <p class="card-text">
        Covers programming concepts, pairing and TDD. Suitable for all Engineering levels. This course is <em>in-person</em> only.
      </p>
      <a href="https://forms.gle/k6HcQao2RoyyvB4F6" class="btn btn-success">Register</a>
    </div>
  </div>
</div>



{% endcapture %}

{% include digital_element_container.html content=content %}
