---
layout: main
title: Training Calendar
---

{% capture title %}
Training Opportunities - Clean Code
{% endcapture %}

{% capture text %}
A list of upcoming training sessions and courses being run for Made Tech employees.
{% endcapture %}

{% include digital_element_header.html title=title text=text %}

{% capture content %}
{% for course in site.data.tech-courses %}
{% if course.type == 'clean-code' %}

<div class="row">
  <div class="container col-md-10 text-center">
    <h2>{{ course.title }}</h2>
    <p class="lead">
      This workshop is a chance to learn and discuss what we consider to be "Clean Code" at Made Tech, learn some coding
      principles, as well as practice some TDD & Pairing.
    </p>
    <p>
      This is suitable for <em>any</em> level of Engineer at Made Tech, and will involve lots of discussion, pairing and
      coding.
    </p>
    <p>
      Please bear in mind that the workshop has been designed to be an <em>in-person</em> experience, although we run a
      remote version of this course we will prioritise those who are <em>unable</em> to attend in-person sessions at an
      office.
    </p>
  </div>
</div>

{% for date in course.dates %}

{% include tech_course_listing.html course=date %}

{% endfor %}

{% endif %}
{% endfor %}

{% endcapture %}

{% include digital_element_container.html content=content %}