---
layout: main
title: Training Calendar
---

{% capture title %}
Training Opportunities
{% endcapture %}

{% capture text %}
A list of upcoming training sessions and courses being run for Made Tech employees.
{% endcapture %}

{% include digital_element_header.html title=title text=text %}

{% capture content %}

<div class="row">

  {% for course in site.data.tech-courses %}
  {% if course.bookable %}
  {% include tech_course_summary.html course=course %}
  {% endif %}
  {% endfor %}

</div>
<div class="row">
</div>


{% endcapture %}

{% include digital_element_container.html content=content %}
