<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-GB" }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{{ "/assets/images/favicon.ico" | relative_url }}">

{% seo %}

  <link rel="stylesheet" href="{{ "/assets/css/madetech-frontend.css?v=" | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" }}">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5Z5B1FZ8PF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5Z5B1FZ8PF');
</script>
</head>

<body>
  <div class="top_bar">
    <div class="top_bar__inner">
      <div class="container">
        <div class="row d-md-flex justify-content-center justify-content-md-between">
          <div class="d-none d-md-block">Improving software delivery in every organisation</div>

          <nav>
            <span class="top_bar__item"><a href="https://www.madetech.com/">Who are Made Tech?</a></span>
            <span class="top_bar__item"><a href="https://www.madetech.com/blog/">Blog</a></span>
            <span class="top_bar__item"><a href="https://www.madetech.com/careers/">Careers</a></span>
            <span class="top_bar__item"><a href="https://www.madetech.com/contact/">Contact Us</a></span>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <header class="header">
    <div class="header__inner">
      <nav class="p-0 flex-column flex-lg-row navbar navbar-expand">
        <div class="mr-lg-auto">
          <div class="header__logo">
            <a href="{{ "/" | relative_url }}" class="header__logo_link">
              <div class="header_logo_type--by">
                <span class="header_logo_type__text">Learn Tech</span>
                <span class="px-3">by</span>
                <span class="position-relative" style="top: -2px;">
                  <img alt="Made Tech" itemprop="logo" src="{{ "/assets/images/made-tech-logo-colour.png" | relative_url }}" width="120px">
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="header_nav">
          <div class="header_nav__inner">
            <nav class="navbar-nav align-items-center">
              <a href="{{ "/" | relative_url }}" class="nav-link">
                Home
              </a>

              <a href="{{ site.github.repository_url }}" class="nav-link">
                GitHub
              </a>
            </nav>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <main class="container container-fullHeight">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        {{ content }}
      </div>
    </div>
  </main>

  {% include footer.html %}

  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
    crossorigin="anonymous"></script>
  <script src="{{ "/assets/js/madetech-frontend.js" | relative_url }}"></script>
</body>
</html>
